button#display-all-button,
button#export-button {
	margin-top: 12px;
}

div.section {
	background-color: #fafafa;
	border: 2px solid #ccc;
	margin: 5px 0;
	overflow: hidden;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

div.section div.header {
	background: #fff;
	height: 40px;
	overflow: hidden;
	padding: 10px;
	position: relative;
}

div.section div.header h5 {
	font-weight: bold;
}

div.section div.header button.btn {
	position: absolute;
	top: 10px;
}

div.section div.header button.btn-primary {
	right: 80px;
}

div.section div.header button.btn-info {
	right: 10px;
}

div.section div.body {
	border-top: 2px solid #ccc;
	padding: 10px;
}

div#condictions div.body label {
	font-weight: bold;
}

div#stats div.body label.radio,
div#columns div.body label.checkbox {
	margin: 10px 0 5px;
}

div#main-content table.table thead {
	background-color: #16a085;
	color: #fff;
}

div#main-content table.table thead th {
	text-align: center;
	vertical-align: middle;
}

div#main-content table.table tbody td.sold-suit,
div#main-content table.table tbody td.sold-price,
div#main-content table.table tbody td.sold-area,
div#main-content table.table tbody td.average-price {
	color: #2980b9;
}

div#main-content table.table tbody td.sold-suit,
div#main-content table.table tbody td.sold-price,
div#main-content table.table tbody td.sold-area,
div#main-content table.table tbody td.average-price,
div#main-content table.table tbody td.project-area,
div#main-content table.table tbody td.rest-suit {
	text-align: right;
}